<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KBPreserveFormattingPreservesAlignment</key>
	<true/>
	<key>KBPreserveFormattingPreservesFontSize</key>
	<true/>
	<key>KBPreserveFormattingPreservesLineSpacing</key>
	<true/>
	<key>KBPreserveFormattingPreservesTabsAndIndents</key>
	<true/>
	<key>SCRCompileAddFrontMatterKey</key>
	<false/>
	<key>SCRCompileAlternativeBlankLineSeparatorKey</key>
	<string>* * *</string>
	<key>SCRCompileAnnotationsRTFConversionTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileAvoidWidowsAndOrphansKey</key>
	<true/>
	<key>SCRCompileCenterAlternateFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterAlternateHeaderStringKey</key>
	<string></string>
	<key>SCRCompileCenterFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileCenterFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterHeaderStringKey</key>
	<string></string>
	<key>SCRCompileConvertEllipsesToTriplePeriodsKey</key>
	<true/>
	<key>SCRCompileConvertEmDashesToHyphensKey</key>
	<true/>
	<key>SCRCompileConvertFootnotesToMMDSyntaxKey</key>
	<true/>
	<key>SCRCompileConvertItalicsToUnderlineKey</key>
	<true/>
	<key>SCRCompileConvertLinkedRTFDImagesToEmbeddedImagesKey</key>
	<false/>
	<key>SCRCompileConvertMMDAnnotationsToHTMLStyledTextKey</key>
	<true/>
	<key>SCRCompileConvertSpacesKey</key>
	<false/>
	<key>SCRCompileConvertSpacingToPlainTextKey</key>
	<false/>
	<key>SCRCompileConvertUnderlineToItalicsKey</key>
	<false/>
	<key>SCRCompileCountFirstPageKey</key>
	<true/>
	<key>SCRCompileDeleteStruckThroughTextKey</key>
	<false/>
	<key>SCRCompileDifferentAlternatePageHeaderAndFooterKey</key>
	<false/>
	<key>SCRCompileDifferentFirstPageHeaderAndFooterKey</key>
	<true/>
	<key>SCRCompileDisableAutoNumberingKey</key>
	<false/>
	<key>SCRCompileDocumentAuthorKey</key>
	<string></string>
	<key>SCRCompileDocumentBackgroundColorKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>SCRCompileDocumentCommentsKey</key>
	<string></string>
	<key>SCRCompileDocumentCompanyKey</key>
	<string></string>
	<key>SCRCompileDocumentCopyrightKey</key>
	<string></string>
	<key>SCRCompileDocumentKeywordsKey</key>
	<array/>
	<key>SCRCompileDocumentSubjectKey</key>
	<string></string>
	<key>SCRCompileDocumentTitleKey</key>
	<string></string>
	<key>SCRCompileEBookAuthorsKey</key>
	<array/>
	<key>SCRCompileEBookCenterHTMLToCKey</key>
	<false/>
	<key>SCRCompileEBookContainsScriptFormattingKey</key>
	<false/>
	<key>SCRCompileEBookContributorsKey</key>
	<array/>
	<key>SCRCompileEBookCoverBinderDocumentIDKey</key>
	<integer>-1</integer>
	<key>SCRCompileEBookCoverSVGCodeKey</key>
	<string></string>
	<key>SCRCompileEBookCoverSVGViewBoxHeightKey</key>
	<integer>800</integer>
	<key>SCRCompileEBookCoverSVGViewBoxWidthKey</key>
	<integer>600</integer>
	<key>SCRCompileEBookCoverTitleKey</key>
	<string>Cover</string>
	<key>SCRCompileEBookDateKey</key>
	<string></string>
	<key>SCRCompileEBookDescriptionKey</key>
	<string></string>
	<key>SCRCompileEBookDisallowCopyKey</key>
	<false/>
	<key>SCRCompileEBookEPUBUniqueIdentifierKey</key>
	<string></string>
	<key>SCRCompileEBookEndnotesAreContinuousKey</key>
	<true/>
	<key>SCRCompileEBookEndnotesTitleKey</key>
	<string>Notes</string>
	<key>SCRCompileEBookGenerateHTMLToCKey</key>
	<true/>
	<key>SCRCompileEBookHTMLToCTitleKey</key>
	<string>Contents</string>
	<key>SCRCompileEBookIncludeiTunesCoverArtFileKey</key>
	<true/>
	<key>SCRCompileEBookKindleUniqueIdentifierKey</key>
	<string></string>
	<key>SCRCompileEBookLanguageKey</key>
	<string>en</string>
	<key>SCRCompileEBookPublisherKey</key>
	<string></string>
	<key>SCRCompileEBookRightsKey</key>
	<string></string>
	<key>SCRCompileEBookSaveKindleGenLogKey</key>
	<false/>
	<key>SCRCompileEBookScriptCSSKey</key>
	<string>p.sceneHeading {text-align:left; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.action {text-align:left; text-indent:0; margin: 12pt 0 0 0; font-family: Courier;}
p.character {text-align:center; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.parenthetical {text-align:center; text-indent:0; margin: 0 0 0 0; font-family: Courier;}
p.dialogue {text-align:left; text-indent:0; margin: 0 20% 0 20%; font-family: Courier;}
p.transition {text-align:right; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.shot {text-align:left; text-indent:0; margin: 12pt 0pt 0pt 0pt; text-transform:uppercase; font-family: Courier;}</string>
	<key>SCRCompileEBookSubjectKey</key>
	<array/>
	<key>SCRCompileEBookTitleKey</key>
	<string></string>
	<key>SCRCompileEBookUniqueIdentifierKey</key>
	<string></string>
	<key>SCRCompileEBookUseCustomIdentifierKey</key>
	<false/>
	<key>SCRCompileEBookUseFlatTOCKey</key>
	<false/>
	<key>SCRCompileEndOfTextMarkerKey</key>
	<string>&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;</string>
	<key>SCRCompileEndnotesStyleKey</key>
	<integer>0</integer>
	<key>SCRCompileExportInlineFootnotesAsEndnotesKey</key>
	<true/>
	<key>SCRCompileExportLinkedFootnotesAsEndnotesKey</key>
	<true/>
	<key>SCRCompileFDXBreakDialogueAndActionAtSentencesKey</key>
	<true/>
	<key>SCRCompileFDXFirstPageIsTitleKey</key>
	<false/>
	<key>SCRCompileFDXIncludeCommentsAndAnnotationsAsScriptNotesKey</key>
	<true/>
	<key>SCRCompileFDXIncludeFootnotesAsScriptNotesKey</key>
	<true/>
	<key>SCRCompileFDXIncludeRevisionColorsKey</key>
	<true/>
	<key>SCRCompileFDXScriptNoteFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSyEBVs0
	NGNdBgAAACQAAAD//kMAbwB1AHIAaQBlAHIARgBpAG4AYQBsAEQAcgBhAGYAdACEAWYM
	hAFjAJgBmACYAIY=
	</data>
	<key>SCRCompileFDXSummaryFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABoAAAD//kwAdQBjAGkAZABhAEcAcgBhAG4AZABlAAAAhAFmDIQBYwCYAZgA
	mACG
	</data>
	<key>SCRCompileFDXUseDefaultScriptElementsKey</key>
	<false/>
	<key>SCRCompileFilterCollectionIDKey</key>
	<string>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</string>
	<key>SCRCompileFilterContentsKey</key>
	<false/>
	<key>SCRCompileFilterExcludeKey</key>
	<false/>
	<key>SCRCompileFilterLabelKey</key>
	<integer>-1</integer>
	<key>SCRCompileFilterStatusKey</key>
	<integer>-1</integer>
	<key>SCRCompileFilterTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileFirstPageForRegularHeaderAndFooterKey</key>
	<integer>2</integer>
	<key>SCRCompileFolderAndTextCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileFolderAndTextSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileFolderCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileFolderFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<false/>
			<key>SCRIncludeTitlesKey</key>
			<true/>
			<key>SCRMainTextWordsToUppercaseInNewSectionsKey</key>
			<integer>0</integer>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQOTlNNdXRh
			YmxlQXJyYXkAhIQHTlNBcnJheQCVlgWShISECU5TVGV4dFRhYgCV
			hAJDZgAkhpKEoqMAbIaShKKjAIGQAIaShKKjAIG0AIaShKKjAIHY
			AIaGgZQAhARbM2ZdJCSDAADAP4aG
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>12</integer>
			<key>SCRPlaceTitleAsRunInHeadKey</key>
			<false/>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQOTlNNdXRh
			YmxlQXJyYXkAhIQHTlNBcnJheQCVlgGShISECU5TVGV4dFRhYgCV
			hAJDZgAkhoaBlACEBFszZl0kJIMAAMA/hoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgZAAhARbMmZd
			EgKGhg==
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTAgCFgYAQhARbMmZd
			AgOGhg==
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTAgCFgYAQhARbMmZd
			AgGGhg==
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string>Chapter &lt;$n&gt;
</string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string>
</string>
		</dict>
	</array>
	<key>SCRCompileFolderSectionSeparatorKey</key>
	<integer>3</integer>
	<key>SCRCompileFooterFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSyEBVs0
	NGNdBgAAACQAAAD//lQAaQBtAGUAcwBOAGUAdwBSAG8AbQBhAG4AUABTAE0AVACEAWYM
	hAFjAJgBmACYAIY=
	</data>
	<key>SCRCompileFootnotesFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSyEBVs0
	NGNdBgAAACQAAAD//lQAaQBtAGUAcwBOAGUAdwBSAG8AbQBhAG4AUABTAE0AVACEAWYK
	hAFjAJgBmACYAIY=
	</data>
	<key>SCRCompileFootnotesHaveSeparatorKey</key>
	<false/>
	<key>SCRCompileFootnotesRestartEachPageKey</key>
	<false/>
	<key>SCRCompileFootnotesStyleKey</key>
	<integer>0</integer>
	<key>SCRCompileFormatKey</key>
	<integer>0</integer>
	<key>SCRCompileFrontMatterIDKey</key>
	<integer>-1</integer>
	<key>SCRCompileGroupFootnotesBeforePageBreakTypeKey</key>
	<integer>3</integer>
	<key>SCRCompileGroupFootnotesBeforePageBreaksKey</key>
	<false/>
	<key>SCRCompileGroupIdentifierInfoKey</key>
	<dict>
		<key>Identifier</key>
		<string>0</string>
		<key>isCollection</key>
		<false/>
	</dict>
	<key>SCRCompileHTMLBodyTableWidthKey</key>
	<integer>600</integer>
	<key>SCRCompileHTMLConvertScrivenerLinksKey</key>
	<true/>
	<key>SCRCompileHTMLTreatPreserveFormatAsRawHTMLKey</key>
	<false/>
	<key>SCRCompileHTMLUnderlineInternalLinksKey</key>
	<false/>
	<key>SCRCompileHTMLUseCenteredBodyTableKey</key>
	<true/>
	<key>SCRCompileHeaderAndFooterFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSyEBVs0
	NGNdBgAAACQAAAD//lQAaQBtAGUAcwBOAGUAdwBSAG8AbQBhAG4AUABTAE0AVACEAWYM
	hAFjAJgBmACYAIY=
	</data>
	<key>SCRCompileHeaderFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSyEBVs0
	NGNdBgAAACQAAAD//lQAaQBtAGUAcwBOAGUAdwBSAG8AbQBhAG4AUABTAE0AVACEAWYM
	hAFjAJgBmACYAIY=
	</data>
	<key>SCRCompileIgnoresLevelsOutsideCurrentCompileGroupKey</key>
	<false/>
	<key>SCRCompileIncludeAnnotationsInStatisticsKey</key>
	<false/>
	<key>SCRCompileIncludeCompileGroupTextKey</key>
	<true/>
	<key>SCRCompileIncludeCurrentSelectionDescendantsKey</key>
	<false/>
	<key>SCRCompileIncludeFootnotesInStatisticsKey</key>
	<false/>
	<key>SCRCompileIncludedTagKey</key>
	<integer>0</integer>
	<key>SCRCompileIncludesSubtitlesKey</key>
	<true/>
	<key>SCRCompileIndentFootnotesToMatchTextKey</key>
	<false/>
	<key>SCRCompileInlineAnnotationClosingMarkerKey</key>
	<string>]</string>
	<key>SCRCompileInlineAnnotationOpeningMarkerKey</key>
	<string>[</string>
	<key>SCRCompileInlineLinksExcludeTitleSuffixKey</key>
	<false/>
	<key>SCRCompileInlinePrefixSeparatorKey</key>
	<string> - </string>
	<key>SCRCompileInsertBlankRowBetweenStitchedTablesKey</key>
	<false/>
	<key>SCRCompileInsertPageBreakBeforeTextGroupsKey</key>
	<false/>
	<key>SCRCompileLeftAlternateFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftAlternateHeaderStringKey</key>
	<string></string>
	<key>SCRCompileLeftFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileLeftFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftHeaderStringKey</key>
	<string></string>
	<key>SCRCompileMarkEndOfTextKey</key>
	<false/>
	<key>SCRCompileMultiMarkdownAddFormatCompleteKey</key>
	<true/>
	<key>SCRCompileMultiMarkdownMetaDataKey</key>
	<array>
		<dict>
			<key>data</key>
			<string>1</string>
			<key>key</key>
			<string>Base Header Level</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>key</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>key</key>
			<string>Author</string>
		</dict>
	</array>
	<key>SCRCompileNoHeaderAfterPageBreaksKey</key>
	<false/>
	<key>SCRCompileNoHeaderOrFooterOnSinglePagesKey</key>
	<false/>
	<key>SCRCompileNoPagePaddingForFirstDocumentKey</key>
	<integer>0</integer>
	<key>SCRCompileNotesBeforeTextKey</key>
	<true/>
	<key>SCRCompileOverrideAffectsFontOnlyKey</key>
	<false/>
	<key>SCRCompileOverrideFlattenIndentsOnNewPagesOnly</key>
	<false/>
	<key>SCRCompileOverrideFlattenIndentsType</key>
	<integer>1</integer>
	<key>SCRCompileOverrideFlattensFirstParagraphIndent</key>
	<false/>
	<key>SCRCompileOverrideFontFaceThroughoutKey</key>
	<false/>
	<key>SCRCompileOverrideFontNameKey</key>
	<string>Helvetica</string>
	<key>SCRCompileOverrideFootnotesFontKey</key>
	<false/>
	<key>SCRCompileOverridePrefixSeparatorInInlineLinksKey</key>
	<true/>
	<key>SCRCompileOverridePreserveFormattingHasLimits</key>
	<false/>
	<key>SCRCompileOverridePreservesAlignmentKey</key>
	<false/>
	<key>SCRCompileOverridePreservesIndentsKey</key>
	<false/>
	<key>SCRCompileOverridePreservesLineSpacingKey</key>
	<false/>
	<key>SCRCompileOverrideTextAndNotesFormatKey</key>
	<true/>
	<key>SCRCompilePageBottomMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageBottomMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageLeftMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageLeftMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageRightMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageRightMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageTopMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageTopMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePlainTextConversionTypeKey</key>
	<integer>1</integer>
	<key>SCRCompilePrintInfoKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpCJKEhIQITlNT
	dHJpbmcBlIQBKw5OU0JvdHRvbU1hcmdpboaShISECE5TTnVtYmVyAISEB05TVmFsdWUA
	lIQBKoSEAWadWoaShJmZDU5TUmlnaHRNYXJnaW6GkoSbnJ2dSIaShJmZFk5TSG9yaXpv
	bnRhbGx5Q2VudGVyZWSGkoSbnISEAWOeAYaShJmZFE5TVmVydGljYWxseUNlbnRlcmVk
	hpKhkoSZmQtOU1RvcE1hcmdpboaShJucnZ1ahpKEmZkMTlNMZWZ0TWFyZ2luhpKEm5yd
	nUiGkoSZmRROU1ZlcnRpY2FsUGFnaW5hdGlvboaShJuchJeXAIaShJmZFU5TSG9yaXpv
	bmFsUGFnaW5hdGlvboaShJucqpcChoaG
	</data>
	<key>SCRCompileProjectVariableReplacementsKey</key>
	<array/>
	<key>SCRCompileRTFEnsureHyperlinksUseColorAndUnderlineKey</key>
	<false/>
	<key>SCRCompileRTFFlattenFootnotesAndCommentsKey</key>
	<false/>
	<key>SCRCompileRTFNoColumnsInFirstDocumentKey</key>
	<false/>
	<key>SCRCompileRTFNumberOfColumnsKey</key>
	<integer>2</integer>
	<key>SCRCompileRTFSpaceBetweenColumnsInTwipsKey</key>
	<integer>360</integer>
	<key>SCRCompileRTFStripTablesKey</key>
	<false/>
	<key>SCRCompileRTFUseColumnsKey</key>
	<false/>
	<key>SCRCompileRTFUsesCocoaStyleListIndentsKey</key>
	<false/>
	<key>SCRCompileReduceRTFOrEbookFootnoteMarkerFontSizeKey</key>
	<false/>
	<key>SCRCompileRemoveAllHyperlinksKey</key>
	<false/>
	<key>SCRCompileRemoveCommentsKey</key>
	<true/>
	<key>SCRCompileRemoveFootnotesKey</key>
	<false/>
	<key>SCRCompileRemoveHighlightingKey</key>
	<false/>
	<key>SCRCompileRemoveInlineAnnotationsKey</key>
	<true/>
	<key>SCRCompileRemoveTextColorKey</key>
	<false/>
	<key>SCRCompileRestrictWidthOfStitchedTablesKey</key>
	<false/>
	<key>SCRCompileRightAlternateFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightAlternateHeaderStringKey</key>
	<string></string>
	<key>SCRCompileRightFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileRightFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightHeaderStringKey</key>
	<string> &lt;$projectname&gt;/&lt;$surname&gt;      &lt;$p&gt;</string>
	<key>SCRCompileStatisticsCharacterCountExcludesWhitespaceKey</key>
	<false/>
	<key>SCRCompileStatisticsCountAllTextKey</key>
	<integer>0</integer>
	<key>SCRCompileStatisticsCountMainTextKey</key>
	<true/>
	<key>SCRCompileStatisticsCountNotesTextKey</key>
	<false/>
	<key>SCRCompileStatisticsCountSynopsesTextKey</key>
	<false/>
	<key>SCRCompileStatisticsExcludeFrontMatterKey</key>
	<true/>
	<key>SCRCompileStatisticsFilterCollectionIDKey</key>
	<string>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</string>
	<key>SCRCompileStatisticsFilterDocumentsKey</key>
	<true/>
	<key>SCRCompileStatisticsFilterExcludeKey</key>
	<integer>1</integer>
	<key>SCRCompileStatisticsFilterLabelKey</key>
	<integer>-1</integer>
	<key>SCRCompileStatisticsFilterStatusKey</key>
	<integer>6</integer>
	<key>SCRCompileStatisticsFilterTypeKey</key>
	<integer>1</integer>
	<key>SCRCompileStitchTablesTogetherKey</key>
	<false/>
	<key>SCRCompileStraightenTypographersQuotesKey</key>
	<true/>
	<key>SCRCompileTextAndFolderCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileTextAndFolderSectionSeparatorKey</key>
	<integer>3</integer>
	<key>SCRCompileTextContainerFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<integer>1</integer>
			<key>SCRIncludeMetaDataKey</key>
			<integer>0</integer>
			<key>SCRIncludeNotesKey</key>
			<integer>0</integer>
			<key>SCRIncludeSynopsesKey</key>
			<integer>0</integer>
			<key>SCRIncludeTextKey</key>
			<false/>
			<key>SCRIncludeTitlesKey</key>
			<integer>1</integer>
			<key>SCRMainTextWordsToUppercaseInNewSectionsKey</key>
			<integer>0</integer>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQOTlNNdXRh
			YmxlQXJyYXkAhIQHTlNBcnJheQCVlgWShISECU5TVGV4dFRhYgCV
			hAJDZgAkhpKEoqMAbIaShKKjAIGQAIaShKKjAIG0AIaShKKjAIHY
			AIaGgZQAhARbM2ZdJCSDAADAP4aG
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<integer>1</integer>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<integer>1</integer>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>12</integer>
			<key>SCRPlaceTitleAsRunInHeadKey</key>
			<integer>0</integer>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQOTlNNdXRh
			YmxlQXJyYXkAhIQHTlNBcnJheQCVlgGShISECU5TVGV4dFRhYgCV
			hAJDZgAkhoaBlACEBFszZl0kJIMAAMA/hoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKxBOU1BhcmFncmFwaFN0eWxlhpKEhIQX
			TlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhT
			dHlsZQCVhARDQ0BTBACEhIQHTlNBcnJheQCVlgSShISECU5TVGV4
			dFRhYgCVhAJDZgAkhpKEnp4ASIaShJ6eAGyGkoSengCBkACGhoGQ
			AIQEWzJmXSQChpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWLIQF
			WzQ0Y10GAAAAJAAAAP/+VABpAG0AZQBzAE4AZQB3AFIAbwBtAGEA
			bgBQAFMATQBUAIQBZgyEAWMAowGjAKMAhoY=
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTAgCFgYAQhARbMmZd
			AgOGhg==
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTAgCFgYAQhARbMmZd
			AgGGhg==
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string>Chapter &lt;$n&gt;
</string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string>
</string>
		</dict>
	</array>
	<key>SCRCompileTextCustomSeparatorStringKey</key>
	<string>#</string>
	<key>SCRCompileTextFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<integer>1</integer>
			<key>SCRIncludeMetaDataKey</key>
			<integer>0</integer>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<integer>0</integer>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<true/>
			<key>SCRMainTextWordsToUppercaseInNewSectionsKey</key>
			<integer>0</integer>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQOTlNNdXRh
			YmxlQXJyYXkAhIQHTlNBcnJheQCVlgWShISECU5TVGV4dFRhYgCV
			hAJDZgAkhpKEoqMAbIaShKKjAIGQAIaShKKjAIG0AIaShKKjAIHY
			AIaGgZQAhARbM2ZdJCSDAADAP4aG
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>12</integer>
			<key>SCRPlaceTitleAsRunInHeadKey</key>
			<false/>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQOTlNNdXRh
			YmxlQXJyYXkAhIQHTlNBcnJheQCVlgGShISECU5TVGV4dFRhYgCV
			hAJDZgAkhoaBlACEBFszZl0kJIMAAMA/hoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQHTlNBcnJh
			eQCVlgGShISECU5TVGV4dFRhYgCVhAJDZgGBsAGGhoGQAIQEWzJm
			XSQChoY=
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKxBOU1BhcmFncmFwaFN0eWxlhpKEhIQX
			TlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhT
			dHlsZQCVhARDQ0BTAgCFgYAQhARbMmZdAgOGkoSXmAZOU0ZvbnSG
			koSEhAZOU0ZvbnQelZYshAVbNDRjXQYAAAAkAAAA//5UAGkAbQBl
			AHMATgBlAHcAUgBvAG0AYQBuAFAAUwBNAFQAhAFmDIQBYwCgAaAA
			oACGhg==
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKxBOU1BhcmFncmFwaFN0eWxlhpKEhIQX
			TlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhT
			dHlsZQCVhARDQ0BTAgCFgYAQhARbMmZdAgGGkoSXmAZOU0ZvbnSG
			koSEhAZOU0ZvbnQelZYshAVbNDRjXQYAAAAkAAAA//5UAGkAbQBl
			AHMATgBlAHcAUgBvAG0AYQBuAFAAUwBNAFQAhAFmDIQBYwCgAaAA
			oACGhg==
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>1</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string>
</string>
		</dict>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<false/>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKxBOU1BhcmFncmFwaFN0eWxlhpKEhIQX
			TlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhT
			dHlsZQCVhARDQ0BTBACEhIQHTlNBcnJheQCVlgWShISECU5TVGV4
			dFRhYgCVhAJDZgAkhpKEnp4AbIaShJ6eAIGQAIaShJ6eAIG0AIaS
			hJ6eAIHYAIaGgZQAhARbM2ZdJCQChpKEl5gGTlNGb250hpKEhIQG
			TlNGb250HpWWLIQFWzQ0Y10GAAAAJAAAAP/+VABpAG0AZQBzAE4A
			ZQB3AFIAbwBtAGEAbgBQAFMATQBUAIQBZgyEAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKxBOU1BhcmFncmFwaFN0eWxlhpKEhIQX
			TlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhT
			dHlsZQCVhARDQ0BTBACFgZAAhARbMmZdEoMAAMA/hpKEl5gGTlNG
			b250hpKEhIQGTlNGb250HpWWLIQFWzQ0Y10GAAAAJAAAAP/+VABp
			AG0AZQBzAE4AZQB3AFIAbwBtAGEAbgBQAFMATQBUAIQBZgyEAWMA
			oAGgAKAAhoY=
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACEhIQHTlNBcnJh
			eQCVlgGShISECU5TVGV4dFRhYgCVhAJDZgAkhoaBlACEBFszZl0k
			JIMAAMA/hoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKxBOU1BhcmFncmFwaFN0eWxlhpKEhIQX
			TlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhT
			dHlsZQCVhARDQ0BTBACEhIQOTlNNdXRhYmxlQXJyYXkAhIQHTlNB
			cnJheQCVlgSShISECU5TVGV4dFRhYgCVhAJDZgAkhpKEn58ASIaS
			hJ+fAGyGkoSfnwCBkACGhoGQAIQEWzJmXSQChpKEl5gGTlNGb250
			hpKEhIQGTlNGb250HpWWLIQFWzQ0Y10GAAAAJAAAAP/+VABpAG0A
			ZQBzAE4AZQB3AFIAbwBtAGEAbgBQAFMATQBUAIQBZgyEAWMApAGk
			AKQAhoY=
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTAgCFgYAQhARbMmZd
			AgKGhg==
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9u
			YXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpApKE
			hIQITlNTdHJpbmcBlYQBKwZOU0ZvbnSGkoSEhAZOU0ZvbnQelZYs
			hAVbNDRjXQYAAAAkAAAA//5UAGkAbQBlAHMATgBlAHcAUgBvAG0A
			YQBuAFAAUwBNAFQAhAFmDIQBYwCcAZwAnACGkoSXmBBOU1BhcmFn
			cmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
			hIQQTlNQYXJhZ3JhcGhTdHlsZQCVhARDQ0BTBACFgYAAhARbMWZd
			gwAAwD+Ghg==
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileTextSectionSeparatorKey</key>
	<integer>0</integer>
	<key>SCRCompileUpdateScrivenerLinksWithPrefixAndSuffixKey</key>
	<true/>
	<key>SCRCompileUseAlternativeBlankLineSeparatorBetweenPagesKey</key>
	<false/>
	<key>SCRCompileUseHyphenationKey</key>
	<false/>
	<key>SCRCompileUsePeriodSpaceFootnoteMarkerStyleKey</key>
	<true/>
	<key>SCRCompileUseProjectPageSetupKey</key>
	<false/>
	<key>SCRCompileVariableReplacementsKey</key>
	<array>
		<dict>
			<key>replacement</key>
			<string>&lt;$n:figure:$@&gt;</string>
			<key>variable</key>
			<string>!fig($@)</string>
		</dict>
		<dict>
			<key>replacement</key>
			<string>&lt;$n:table:$@&gt;</string>
			<key>variable</key>
			<string>!table($@)</string>
		</dict>
	</array>
	<key>SCRTemplateCompileSettingsTitle</key>
	<string>General Non-Fiction</string>
</dict>
</plist>
