<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>C588CCD8-F989-421D-AF32-A584EF242AC1</string>
	<key>title</key>
	<string>《财富自由之路》李笑来</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
