<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>93A382C7-8F2D-427B-A931-0ACEC9AF1533</string>
	<key>title</key>
	<string>思维导图</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
